@font-face {
   font-family: 'Parisish';
   font-display: swap;
   src: url('file:///C:/Users/katyi/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-19_013053/fonts/Parisish/font.ttf');
}
